.botao-download {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 20px auto;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.botao-download:hover {
  background-color: #45a049;
}

